.logotype-container {
  width: 100%;
  height: auto;
}

.logotype-svg {
  display: block;
  width: 100%;
  height: auto;
}

.smiley-bg {
  fill: var(--color-yellow);
}

.smiley-glasses {
  fill: #494949;
}

.smiley-mouth {
  fill: #664e27;
}
