.notify-container {
  width: 100%;
}

.notify-message {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: var(--scale-0);
  left: var(--scale-0);
  width: calc(100vw - (2 * var(--scale-0)));
  height: 20vw;
  border-radius: 4px;
  font-weight: 500;
  color: var(--color-white);
  box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.05);
  z-index: var(--zi3);
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: boundeInOut;
}

.notify-message-emoji {
  min-width: 20vw;
  font-size: var(--scale-1);
  text-align: center;
}

.notify-message-message {
  width: 100%;
  padding-right: var(--scale-0);
  text-align: center;
}

.notify-MESSAGE_SUCCESS {
  background-color: var(--color-pink);
}

.notify-MESSAGE_ERROR {
  background-color: var(--color-orange);
}

@keyframes boundeInOut {
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  10% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  15% {
    transform: translate3d(0, -10px, 0);
  }

  17% {
    transform: translate3d(0, 5px, 0);
  }

  20%,
  79% {
    transform: none;
  }

  80% {
    transform: translate3d(0, -10px, 0);
  }

  90%,
  95% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
  }
}
