.notify-container {
  width: 100%;
}

.notify-message {
  position: fixed;
  top: var(--scale-0);
  left: var(--scale-0);
  width: calc(100% - (2 * var(--scale-0)));
  margin-bottom: var(--scale--1);
  border-radius: 4px;
  padding: var(--scale-0);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-white);
  box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.05);
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: boundeInOut;
  z-index: var(--zi3);  
}

.notify-message:nth-child(2) {
  animation-delay: 0.3s;
}

.notify-standard {
  background-color: var(--color-pink);
}

.notify-error {
  background-color: var(--color-orange);
}

.notify-message-emoji {
  margin-right: var(--scale--1);
}

@keyframes boundeInOut {
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  10% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  15% {
    transform: translate3d(0, -10px, 0);
  }

  17% {
    transform: translate3d(0, 5px, 0);
  }

  20%, 79% {
    transform: none;
  }


  80% {
    transform: translate3d(0, -10px, 0);
  }

  90%, 95% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
  }
}
