.footer {
  width: 100%;
  padding: var(--scale-1);
  font-size: var(--scale--1);
}

.footer .credit {
  margin: 0;
  text-align: center;
}

.footer a {
  color: var(--color-pink);
  text-decoration: none;
}
