:root {
  --color-bg: #f5f5f5;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #999999;
  --color-yellow: #ffdd67;
  --color-pink: #ff5a79;

  --font-serif: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --scale--2: 0.444em;
  --scale--1: 0.667em;
  --scale-0: 1em;
  --scale-1: 1.5em;
  --scale-2: 2.25em;
  --scale-3: 3.375em;
  --scale-4: 5.063em;

  --zi0: 0;
  --zi1: 1;
  --zi2: 2;
  --zi3: 3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-serif);
  background-color: var(--color-bg);
}

.container {
  position: relative;
}

.footer {
  width: 100%;
  padding: var(--scale-1);
  font-size: var(--scale--1);
}

.footer .credit {
  margin: 0;
}

.footer a {
  color: var(--color-pink);
  text-decoration: none;
}

.code {
  font-family: var(--font-serif);
  font-weight: 700;
}
