.message {
  position: fixed;
  top: var(--scale-0);
  left: var(--scale-0);
  width: calc(100vw - (2 * var(--scale-0)));
  border-radius: 4px;
  padding: var(--scale--1);
  background-color: var(--color-pink);
  box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.05);
  animation-duration: 1s;
  animation-fill-mode: both;
  transform: translate3d(0, -3000px, 0);
  z-index: var(--zi3)
}

.message .close-button {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  cursor: pointer;
  backface-visibility: hidden;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 60%;
  background: var(--color-white);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.message.show {
  transform: translate3d(0, -3000px, 0);
  animation-name: bounceInDown;
}

.message.hide {
  transform: translate3d(0, 0px, 0);
  animation-name: bounceOutUp;
}

.message-message {
  margin: var(--scale--1) 0;
  font-weight: 700;
  color: var(--color-white);
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
}
