.recent-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--scale--1);
  width: 100%;
  margin-top: var(--scale-1);
  padding: 0 var(--scale-0);
}

.recent-button {
  position: relative;
  width: 100%;
  height: 0;
  border: none;
  border-radius: 4px;
  padding: 0;
  padding-top: 100%;
  font-size: var(--scale-0);
  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.recent-button:hover {
  box-shadow: 0 4px 8px 0 rgba(168, 182, 191, 0.6);
  transform: translateY(-3px);
  cursor: pointer;
}

.recent-button:focus {
  outline: none;
}

.recent-button-empty {
  background-color: transparent;
}

.recent-button-empty:hover {
  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
  transform: translateY(0);
  cursor: initial;
}

.recent-button-empty::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--color-grey);
  border-radius: 4px;
}

.recent-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
